# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/zelda/.vs/zelda/v15/.suo
/zelda/.vs/zelda/v15/Browse.VC.db
/zelda/.vs/zelda/v15/ipch/AutoPCH/3ec315caee07a72f/BASESCENE.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/691575bef790260e/SCENEMNG.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/bd2c7e51f43d8e3b/GAMECTRL.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/f85b78b41001099c/GAMESCENE.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/3d0b2bb84fdbf3c1/GAMECTRL.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/6fcb70c947729800/GAMECTRL.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/71ea9fd52c0239c/BASESCENE.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/87cb4acf0c0b6e7f/GAMESCENE.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/89ac516b893aabc4/SCENEMNG.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/89bbb66e251c19bc/PLAYER.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/95cb2d64e3b0e64c/BASESCENE.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/96a0300f00cec8e5/SCENEMNG.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/98a7f023dbcf2275/SCENEMNG.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/a2daf400278a4b15/BASESCENE.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/b2556be0a0977e3d/PLAYER.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/beade2404757a9d6/GAMESCENE.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/c260f762ac542d75/VECTOR2.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/cb1c82509695695c/VECTOR2.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/de082c7b4a814d81/OBJ.ipch
/zelda/.vs/zelda/v15/ipch/AutoPCH/fff991819308912f/GAMESCENE.ipch
/zelda/Debug/vc141.idb
/zelda/Debug/vc141.pdb
/zelda/Debug/zelda.Build.CppClean.log
/zelda/Debug/zelda.ilk
/zelda/Debug/zelda.log
/zelda/Debug/zelda.pdb
/zelda/Debug/zelda.tlog/CL.command.1.tlog
/zelda/Debug/zelda.tlog/CL.read.1.tlog
/zelda/Debug/zelda.tlog/CL.write.1.tlog
/zelda/Debug/zelda.tlog/link.command.1.tlog
/zelda/Debug/zelda.tlog/link.read.1.tlog
/zelda/Debug/zelda.tlog/link.write.1.tlog
/zelda/Debug/zelda.tlog/zelda.lastbuildstate
/zelda/Log.txt
/zelda/Debug
/zelda/.vs
